@tailwind base;
h1 {
    @apply text-6xl font-black font-sans;
  }
  h2 {
    @apply text-3xl font-bold font-sans;
  }
  h3 {
    @apply text-lg font-sans;
  }
  p {
    @apply text-lg font-sans;
  }
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins"